celery==5.3.1
fastapi>=0.95
pandas
psycopg[binary]
redis==4.6.0
requests==2.31.0
SQLAlchemy>=2.0,<2.1
uvicorn==0.22.0
importlib-metadata==6.0.0
python-multipart
pydantic[email]

alembic>=1.10,<2.0

pytest
starlette>=0.26
httpx>=0.23
pytest-cov
coverage